@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uujzpe');
    src:  url('../fonts/icomoon.eot?uujzpe#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uujzpe') format('truetype'),
      url('../fonts/icomoon.woff?uujzpe') format('woff'),
      url('../fonts/icomoon.svg?uujzpe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-eye:before {
    content: "\e904";
  }
  .icon-download:before {
    content: "\e900";
  }
  .icon-share:before {
    content: "\e901";
  }
  .icon-previous:before {
    content: "\e902";
  }
  .icon-player:before {
    content: "\e903";
  }
  

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.grid-container{
    display: grid;
    grid-template: 5fr 1fr 1fr / 1fr 3fr;
    grid-template-areas: "side video"
                         "side info"
                        "side comments";
    height: 100vh;
   
}

.side-menu{
   grid-area: side;
   background-color: #16182b;
   color: white;
   padding: 0 1em;
   font-size: 1em;
}

.side-menu h2{
    font-size: 20px;
    margin-top: 2em;
}


.side-menu span{
    margin-left: -6px;
    color: #a1285a;
}

.side-menu-playlist-list
{
    font-size: 15px;
    margin-left: 0px;
}

.side-menu-playlist-list li{
    margin-bottom: 10px;
}

.side-menu-playlist-list a{
    text-decoration: none;
    color: white;
    
}

.side-menu-friends-playlist-list{
    list-style: none;
    font-size: 15px;
    padding: 0;
}

.side-menu-friends-playlist-list li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.side-menu-friends-playlist-list a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.side-menu-friends-playlist-list-container{
    width: 45px;
    height: 45px;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
}

.side-menu-friends-playlist-list-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.side-menu-friends-playlist-list-container a{
    text-decoration: none;
    
}

.video{
    grid-area: video;
    position: relative;
   
}

.video-container{
    margin: 0;
}

.grid-container img{
    max-width: 100%;
}

.video-overlay{
    background: rgba(0, 0, 0, 40%);
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right: 0;
    color: rgba(255, 255, 255, 0.897);
}

.video-overlay .icon-previous{
    font-size: 3em;
    position: absolute;
    top: 20px;
    left: 20px;
    
}

.video-overlay .icon-player{
    font-size: 10em;
    position: absolute;
    top: 40%;  /* position the top  edge of the element at the middle of the parent */
    left: 40%; /* position the left edge of the element at the middle of the parent */

}

.video:hover .video-overlay{
    display: initial;
}

.video-info{
    grid-area: info;
    display: grid;
    border: 1px solid rebeccapurple;
    grid-template-rows: 1fr 1fr;
}

.comments{
    grid-area: comments;
    border: 1px solid rebeccapurple;
    display: grid;
    grid-template-columns: 1fr 1fr;
}