body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.grid-container{
    display: grid;
    grid-template: 5fr 1fr 1fr / 1fr 3fr;
    grid-template-areas: "side video"
                         "side info"
                        "side comments";
    height: 100vh;
   
}

.side-menu{
   grid-area: side;
   background-color: #16182b;
   color: white;
   padding: 0 1em;
   font-size: 1em;
}

.side-menu h2{
    font-size: 20px;
    margin-top: 2em;
}


.side-menu span{
    margin-left: -6px;
    color: #a1285a;
}

.side-menu-playlist-list
{
    font-size: 15px;
    margin-left: 0px;
}

.side-menu-playlist-list li{
    margin-bottom: 10px;
}

.side-menu-playlist-list a{
    text-decoration: none;
    color: white;
    
}

.side-menu-friends-playlist-list{
    list-style: none;
    font-size: 15px;
    padding: 0;
}

.side-menu-friends-playlist-list li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.side-menu-friends-playlist-list a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.side-menu-friends-playlist-list-container{
    width: 45px;
    height: 45px;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
}

.side-menu-friends-playlist-list-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.side-menu-friends-playlist-list-container a{
    text-decoration: none;
    
}

.video{
    grid-area: video;
    border: 1px solid rebeccapurple;
}

.video-info{
    grid-area: info;
    display: grid;
    border: 1px solid rebeccapurple;
    grid-template-rows: 1fr 1fr;
}

.comments{
    grid-area: comments;
    border: 1px solid rebeccapurple;
    display: grid;
    grid-template-columns: 1fr 1fr;
}